<div class="shop" id="shop">
    <div class="container product-container" id="product_container">
        <?php foreach ($product as $product_item) {
            echo $this->partial('template/product', array('product' => $product_item));
        } ?>
    </div>
</div>