<div class="user-top-profile">
</div>
<div class="container">
	<div class="user-left">
		<div class="avatar" style="background-image: url('http://graph.facebook.com/<?php echo $user_data['username']; ?>/picture?type=large')"></div>
		<div class="information">
			<h1 class="name"><?php echo $user_data['fullname']?></h1>
		</div>
	</div>
</div>