<div class="product-item" onclick="Product.popupDetail(<?php echo $product->id ?>)">
    <div class="product-image">
        <img src="<?php echo $product->image_thumbnail; ?>" />
        <div class="favourite"></div>
    </div>
    <div class="product-meta">
        <p class="product-name"><?php echo $product->product_name; ?></p>
        <p class="product-price"><?php echo number_format($product->product_price, 0, '.', '.') ?> &#8363;</p>
    </div>
    <div class="shop-meta-item">
        <div class="avatar" style="background-image:url(<?php echo $product->shop_avatar; ?>)"></div>
        <a class="user-link" href="<?php ?>"><?php echo $product->shop_url; ?></a>
    </div>
</div>