@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/segoeui/Segoe-UI.woff') format('woff');
}
@font-face {
  font-family: 'SegoeUI SL';
  src: url('../fonts/segoeui/Segoe-UI-Semilight.woff') format('woff');
}
@font-face {
  font-family: 'SegoeUI';
  font-weight: bold;
  src: url('../fonts/segoeui/Segoe-UI-Bold.woff') format('woff');
}
@font-face {
  font-family: 'SegoeUI SB';
  src: url('../fonts/segoeui/Segoe-UI-Semibold.woff') format('woff');
}
@font-face {
  font-family: 'SS-Standard';
  src: url('../fonts/ss-standard.woff') format('woff');
}