.notification{
	position: fixed;
	width: 400px;
	left: 50%;
	margin-left: -150px;
	top: -100px;
	border-radius: 4px;
	padding: 12px;
	box-sizing: border-box;
	opacity: 0;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
	-webkit-transition: 450ms ease-in-out;
	-moz-transition: 450ms ease-in-out;
	-ms-transition: 450ms ease-in-out;
	-o-transition: 450ms ease-in-out;
	transition: 450ms ease-in-out;
	
	background: rgba(0,0,0,0.65);
	color: white;
}
.notification.show{
	opacity: 1;
	-webkit-transform: translateY(125px);
	-moz-transform: translateY(125px);
	-ms-transform: translateY(125px);
	-o-transform: translateY(125px);
	transform: translateY(125px);
}
.notification > *{
	display: inline-block;
}
.notification .view{
	float: right;
}