.shop-header{
	width: 100%;
	height: 300px;
	background-size: cover;
	position: relative;
}
.shop-header .avatar{
	width: 150px;
	height: 150px;
	background-size: cover;
	border-radius: 50%;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -75px;
	bottom: -75px;
	border: 5px solid white;
	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.shop .button{
	padding: 7px 12px;
	color: #0192B5;
	border: 1px solid;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}
.shop .button:hover, .fileinput-button:hover .button{
	color: #6cb449;
}

.shop .shop-meta{
	padding-top: 75px;
	text-align: center;
}
.shop .shop-meta .item{
	outline: none;
}
.shop .shop-meta .shop-name{
	font-weight: 700;
	font-style: normal;
	font-size: 28px;
	margin-bottom: 17px;
	color: #464646;
	display: inline-block;
}
.shop .shop-meta .shop-desc{
	font-size: 15px;
	width: 80%;
	margin: auto;
}
.shop .shop-meta .shop-address{
	font-size: 15px;
	margin: 9px 0px;
	color: #428bca;
}
.shop .edit-shop .control-button{
	margin-top: 24px;
}
.shop .edit-shop .edit-wrapper{
	margin: auto;
	background: white;
	border-radius: 7px;
	padding: 24px;
	box-sizing: border-box;
}
.shop .edit-line{
	margin: 17px 0px;
}
.shop .edit-line .title{
	width: 150px;
	display: inline-block;
}
.shop .edit-line .title > label{
	font-weight: 400;
}
.shop .edit-line input{
	padding: 7px 9px;
	border: 1px solid #DDD;
	border-radius: 3px;
	width: 325px;
}
.shop .edit-line textarea{
	width: 324px;
	resize: none;
	border: 1px solid #DDD;
	border-radius: 3px;
	height: 75px;
}
.shop .shop-control .fileinput-button{
	width: 125px;
	height: 35px;
}
.fileinput-button input{
	position: absolute;
	top: 0;
	left: 0;
	width: 125px;
	height: 34px;
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
}
.shop .add-item{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 50;
	background: white;
	padding: 24px;
	box-sizing: border-box;
}
.shop .add-item .more-image{
	padding: 7px 0px;
}
.shop .add-item .small-image{
	width: 70px;
	height: 70px;
	background: url('../img/item/default_thumbnail.gif') no-repeat;
	background-size: cover;
	display: inline-block;
	vertical-align: top;
	border: 2px solid transparent;
	cursor: pointer;
	margin-right: 4px;
	margin-bottom: 4px;
}
.shop .add-item .small-image:hover{
	border-color: #6cb449;
}
.shop .add-item .small-image.add-more{
	background: #EBEBEB;
	color: #222;
	font-size: 11px;
	text-align: center;
	line-height: 65px;
}
.shop .add-item .big-image{
	position: relative;
}
.shop .add-item .big-image > img{
	width: 100%;
}
.shop .add-item .big-image .progress.show{
	display: block;
}
.shop .add-item .big-image .progress {
	width: 225px;
	height: 8px;
	position: absolute;
	top: 215px;
	left: 40px;
	display: block;
}
.shop .add-item .product-info{
	padding: 0px 0px 0px 50px;
	box-sizing: border-box;
}
.shop .add-item .product-info .product-name{
	font-size: 32px;
	color: #333;
	width: 100%;
	box-sizing: border-box;
}
.shop .add-item .product-info .product-desc{
	color: #333;
	min-height: 100px;
	padding: 5px 0px;
	resize: none;
	width: 100%;
}
.shop .add-item .product-info .product-price{
	
}
.shop .add-item .button-control{
	margin-top: 50px;
}
.shop .add-item .button-control > *{
	margin-right: 9px;
}
.green-button{
	background-color: #62c136;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	border: 0 solid transparent;
	border-bottom: 1px solid #3a8916;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	display: inline-block;
	vertical-align: top;
	padding: 9px 12px;
	outline: none;
}
.green-button:hover{
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.3);
	box-shadow: 0 1px 1px rgba(0,0,0,.3);
	background-color: #43ad13;
}
.green-button.blue{
	border-top: 1px solid #8cdae4;
	border-bottom: 1px solid #299fad;
	background-color: #5acad8;
}
.green-button.blue:hover{
	background-color: #1990db;
}


.shop #add-more-small{
	width: 70px;
	height: 70px;
}

.product-container{
	position: relative;
	margin-top: 25px;
}
.product-item{
	border-radius: 6px;
	background: white;
	width: 210px;	
	border: #DADADA 1px solid;
	border-bottom-color: #D7D7D7;
}
.product-item .product-image{
	position: relative;
	width: 100%;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	overflow: hidden;
}
.product-item .product-image > img{
	width: 100%;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-webkit-transition: 400ms ease-in-out;
	-moz-transition: 400ms ease-in-out;
	-ms-transition: 400ms ease-in-out;
	-o-transition: 400ms ease-in-out;
	transition: 400ms ease-in-out;
	cursor: z;
}
.product-item:hover .product-image > img{
	-webkit-transform: scale(1.15,1.15);
	-moz-transform: scale(1.15,1.15);
	-ms-transform: scale(1.15,1.15);
	-o-transform: scale(1.15,1.15);
	transform: scale(1.15,1.15);
}
.product-item .favourite{
	height: 46px;
	position: absolute;
	background: url('../img/item/fav.png');
	top: -9px;
	width: 46px;
	border-radius: 50%;
	background-color: white;
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: center center;
	right: 9px;
	cursor: pointer;
	opacity: 0;
	
	-webkit-transition: 400ms ease-in-out;
	-moz-transition: 400ms ease-in-out;
	-ms-transition: 400ms ease-in-out;
	-o-transition: 400ms ease-in-out;
	transition: 400ms ease-in-out;
}
.product-item:hover .favourite{
	-webkit-transform: translateY(18px);
	-moz-transform: translateY(18px);
	-ms-transform: translateY(18px);
	-o-transform: translateY(18px);
	transform: translateY(18px);
	opacity: 1;
}
.product-item:hover .favourite:hover, .product-item .favourite.active{
	background-image: url('../img/item/fav_red.png');
}
.product-item .product-meta{
	padding: 9px;
	box-sizing: border-box;
	display: block;
}
.product-item .product-name{
	font-size: 17px;
}
.product-item .product-price{
	margin: 0px;
	vertical-align: middle;
	display: inline-block;
}
.product-item .avatar{
	width: 25px;
	height: 25px;
	background-size: cover;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.product-item .user-link{
	font-size: 11px;
	color: #555;
	font-weight: 700;
	display: inline-block;
	white-space: nowrap;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.product-item .shop-meta-item{
	padding: 9px 0px;
	box-sizing: border-box;
	display: block;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top: #E7E7E7 1px solid;
}
.product-item .shop-meta-item:hover{
	background: #F3F3F3;
}


.shop-owner-control{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background: rgba(0,0,0,0.85);
}