body {
    padding-bottom: 40px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: #f5f5f1;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.wrapper{
    width: 1000px;
    margin: auto;
}
.logo{
    margin: 18px 0px;
    display: inline-block;
}
.col-40{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin-right: -4px;
    box-sizing: border-box;
}
.col-50{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-right: -4px;
    box-sizing: border-box;
}
.col-60{
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin-right: -4px;
    box-sizing: border-box;
}
.col-70{
    display: inline-block;
    vertical-align: top;
    width: 70%;
    margin-right: -4px;
    box-sizing: border-box;
}
.editable{
    border: 0px;
    outline: none;
}
.fullscreen{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(44,48,54,.9);
    padding: 50px;
    box-sizing: border-box;
}
.close-btn{
    right: 24px;
    top: 24px;
    position: absolute;
    border: 1px solid #CCC;
    color: #333;
    display: inline-block;
    float: right;
    padding: 5px 17px;
    border-radius: 17px;
    cursor: pointer;
}
.close-btn:hover{
    color: #000;
}
.small-avatar{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-size: cover !important;
	border: 2px solid white;
}
.top-bar{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background: white;
    border-bottom: 1px solid #e4e4e4;
}
.top-bar .container{
    height: 100%;
    font-size: 16px;
}
.top-bar .search-bar{
    width: 360px;
    height: 38px;
    display: inline-block;
    vertical-align: top;
    margin-left: 32px;
    margin-top: 11px;
    color: #555;
    border: 1px solid #DDD;
    border-radius: 24px;
    background: #F9F9F9;
}
.top-bar .search-bar .search-input{
    border: 0px;
    outline: none;
    margin: 0px 0px 0px 18px;
    height: 36px;
    width: 285px;
    color: #333;
    background: transparent;
}
.top-bar .search-bar .search-button{
    width: 55px;
    height: 100%;
    display: inline-block;
    float: right;
    background: url('../img/search.png') no-repeat;
    background-position: center center;
}
.top-bar .top-menu{
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    height: 100%;
    margin-left: 12px;
}
.hover:hover{
    background-color: #F8F8F8;
}
.top-bar .top-menu .default{
    width: 65px;
    vertical-align: top;
    color: #444;
    line-height: 56px;
    text-decoration: none;
    height: 100%;
    display: block;
    background-image: url(../img/menu-top.png);
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.top-bar .top-menu ul{
    position: absolute;
    margin: 0px 0px 0px -1px;
    padding: 12px;
    list-style: none;
    display: none;
    z-index: 25;
    width: 210px;
    background: #fff;
    border: 1px solid #E2E2E2;
}
.top-bar .top-menu:hover ul{
    display: block;
}
.top-bar .top-menu ul li{
    display: block;
    padding: 9px 12px;
}
.top-bar .top-menu ul li a{
    text-decoration: none;
    color: #333;

    -webkit-transition: 250ms ease-out;
    -moz-transition: 250ms ease-out;
    -ms-transition: 250ms ease-out;
    -o-transition: 250ms ease-out;
    transition: 250ms ease-out;
}
.top-bar .top-menu ul li:hover a{
    color: #6cb449;
}

/* album */
.music-playlist{
    padding-top: 25px;
}
.album{
    width: 120px;
    height: 190px;
    padding: 5px;
    box-sizing: border-box;
    background: white;
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
}
.album .thumbnail{
    width: 100%;
    height: 110px;
    background-size: cover !important;
    margin: 0px;
}
.album .title{
    font-size: 12px;
    font-weight: bold;
    color: #2882bc;
    overflow: hidden;
    margin-top: 5px;
    height: 36px;
    width: 100%;
    display: block;
}

.category-wrapper{
    padding: 0px;
    margin: 12px 0px;
}
.category-wrapper li{
    width: 33.33%;
    margin-right: -4px;
    display: inline-block;
    vertical-align: top;
}
.category-wrapper .category-item{
    padding: 3px 9px;
    color: #AAA;
}
.category-wrapper .category-item span{
    color: #333;
    padding: 4px 7px;
    border-radius: 4px;
}
.category-wrapper .category-item span.active{
    background: #17c3e5;
    color: white;
}
.category-wrapper .category-item a{
    text-decoration: none;
    color: #AAA;
}


.sub-menu-wrapper{
    width: 100%;
    height: 100px;
    background: #F1F1F1;
    font-size: 14px;
}
.sub-menu-wrapper .information{
}
.sub-menu-wrapper .information h2{
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-family: "Open Sans";
    margin-top: 16px;
    line-height: 1.4;
}
.sub-menu-wrapper .sub-menu{
    list-style: none;
    margin: 0px;
    padding: 12px 9px;
    font-size: 14px;
}
.sub-menu-wrapper .sub-menu li{
    display: inline-block;
    width: 33.33%;
    margin-right: -4px;
    vertical-align: top;
    box-sizing: border-box;
    line-height: 1.7;
}
.sub-menu-wrapper .sub-menu li a{
    font-weight: 400;
    font-size: 13px;
}


.user-profile{
    display: inline-block;
    height: 100%;
    float: right;
}
.user-profile .login{
    padding: 0px 18px;
    line-height: 56px;
    height: 100%;
    display: inline-block;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.user-profile .login:hover{
    cursor: pointer;
}
.user-profile > ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
	height: 100%;
}
.user-profile > ul li{
    display: inline-block;
    vertical-align: top;
    padding: 0px 16px;
    border-left: 1px solid #E6E6E6;
	height: 100%;
	cursor: pointer;
	margin-right: -3px;	
}
.user-profile > ul li:last-child{
	border-right: 1px solid #E6E6E6;
}
.user-profile > ul li a{
    color: #333;
    text-decoration: none;
    font-size: 15px;
	line-height: 55px;
}
.user-profile > ul li:hover{
    background: #F8F8F8;
}
.user-profile > ul .item.like:before{
    background-image: url('../img/header/like.png');
}
.user-profile > ul .item.shop:before{
    background-image: url('../img/header/shop.png');
}
.user-profile .small-avatar{
	margin-top: 6px;
}