@CHARSET "UTF-8";
.user-top-profile{
	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center center;
}
.user-top-profile .information{
	display: block;
	padding-left: 170px;
}
.user-top-profile .information .name{
	font-size: 32px;
	font-weight: 300;
}
.user-top-profile .container{
	padding: 12px 0px;
}
.user-left{
	width: 250px;
	float: left;
}
.user-left .avatar{
	width: 150px;
	height: 150px;
	background-size: cover;
	float: left;
}