<?php
	
?>
<script>
	var product = <?php echo json_encode($product);?>
</script>
<?php echo $this->profile; ?>
<div class="favourite-collection">
	<div class="filter container">
		<div class="">Sản phẩm</div>
		<div class="">Bộ sưu tập</div>
	</div>
	<div class="container">
		<?php foreach($collection as $col){ ?>
			<div class="collection-item">
				<div class="collection-featured">
					<?php foreach($data[$col->user_collection_id] as $data_img) { ?>
						<div class="small-image" style="background-image: url(<?php echo $data_img->image_thumbnail; ?>)"></div>
					<?php } ?>
					<?php for($i = 0; $i < 4 - $data[$col->user_collection_id]->count(); $i++) { ?>
						<div class="small-image"></div>
					<?php } ?>
				</div>
				<h2 class="collection-name"><?php echo $col->collection_name?></h2>
				<p class="collection-counter">Có <?php echo count($data[$col->user_collection_id]) ?> sản phẩm</p>
			</div>
		<?php } ?>
	</div>
</div>