<?php
?>

<div class="sub-menu-wrapper">
	<div class="container">
		<div class="information col-40">
			<h2><?php echo $cur_category->description?></h2>
			<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
		</div>
		<ul class="sub-menu col-60">
			<?php foreach($sub_category as $sub){ ?>
				<li><a href="danh-muc/<?php echo $sub->slug ?>.html"><?php echo $sub->category_name ?></a></li>
			<?php } ?>
		</ul>
	</div>
</div>