<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('ZF2 ' . $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php
        echo $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <?php
        echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                ->prependStylesheet($this->basePath() . '/css/style.css')
                ->prependStylesheet($this->basePath() . '/css/shop.css')
                ->prependStylesheet($this->basePath() . '/css/font.css')
                ->prependStylesheet($this->basePath() . '/js/library/fileuploader/css/jquery.fileupload.css')
                ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
                ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
                ->prependStylesheet('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300')
        ?>

        <?php
        echo $this->headScript()
                ->prependFile($this->basePath() . '/js/app/account.js')
                ->prependFile($this->basePath() . '/js/app/shop.js')
                ->prependFile($this->basePath() . '/js/app/product.js')
                ->prependFile($this->basePath() . '/js/library/lazyload.js')
                ->prependFile($this->basePath() . '/js/library/jquery.wookmark.min.js')
                ->prependFile($this->basePath() . '/js/bootstrap.min.js')
                ->prependFile($this->basePath() . '/js/jquery.min.js')
                ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                ->prependFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9',))
        ;
        ?>
        <base href="/" target="_self">

        <!-- temp -->
        <script src="js/library/fileuploader/js/jquery.ui.widget.js"></script>
        <script src="js/library/fileuploader/js/load-image.all.min.js"></script>
        <script src="js/library/fileuploader/js/canvas-to-blob.min.js"></script>
        <script src="js/library/fileuploader/js/jquery.iframe-transport.js"></script>
        <script src="js/library/fileuploader/js/jquery.fileupload.js"></script>
        <script src="js/library/fileuploader/js/jquery.fileupload-process.js"></script>
        <script src="js/library/fileuploader/js/jquery.fileupload-image.js"></script>
        <script src="js/library/fileuploader/js/jquery.fileupload-audio.js"></script>
        <script src="js/library/fileuploader/js/jquery.fileupload-video.js"></script>
        <script src="js/library/fileuploader/js/jquery.fileupload-validate.js"></script>


    </head>
    <body>
       <?php echo $this->getHeader()->render() ?>

<?php echo $this->content; ?>
        <div class="container">
            <hr>
            <footer>
            </footer>
        </div> <!-- /container -->
<?php echo $this->inlineScript() ?>

        <div id="fb-root"></div>
        <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>

    </body>
</html>
