<?php 
?>
<div class="container">
	<div class="col-70">
		<!--
		<ul class="category-wrapper">
		<?php foreach($category as $category_object): ?>
			<li class="category-item">
				<a href="chuyen-muc/<?php echo $category_object->slug ?>" target="_self">
					<span class="<?php if($category_object->slug == $slug){echo 'active';} ?>" ><?php echo $category_object->name ?></span>
					<?php echo $category_object->totalMusic ?>
				</a>
			</li>
		<?php endforeach;?>
		</ul>
		-->
		<div class="music-list">
			<?php foreach($music as $music_item): ?>
				<a href="" class="music-item">
					<div class="info">
						<div><?php echo $music_item->title?></div>
						<div>
							<a href=""><?php echo $music_item->artist_name?></a>
							<a href=""><?php echo $music_item->cate_name?></a>
						</div>
					</div>
				</a>
			<?php endforeach; ?>
		</div>
	</div>
</div>