<?php

use Application\Library\CommonUtils;
?>
<div class="shop" id="shop">
    <div class="shop-header" style="background-image: url(<?php echo $shop->shop_featured_image; ?>)">
        <div class="container">
            <div class="avatar" style="background-image: url(<?php echo $shop->shop_avatar; ?>)"></div>
        </div>
    </div>
    <div class="container shop-meta">
        <h1 class="item shop-name"><?php echo $shop->shop_name ?></h1>
        <h2 class="item shop-desc"><?php echo $shop->shop_desc ?></h2>
        <h2 class="item shop-address"><?php echo $shop->shop_address ?></h2>
        <p><?php echo $shop->shop_contact ?></p>
    </div>
    <div class="container product-container" id="product_container">
        <?php foreach ($product as $product_item) { ?>
            <?php echo $this->partial('template/product', array('product' => $product_item)); ?>
<?php } ?>
    </div>
    <div class="shop-owner-control">
        <div class="container shop-control">
            <div class="button add-new" onclick="Shop.editInformation()">Sửa thông tin</div>
            <span class="fileinput-button">
                <div class="button add-new" id="shop_upload_new">Thêm sản phẩm</div>
                <input id="fileupload" type="file" name="files[]" multiple>
            </span>
        </div>
    </div>
</div>

<script id="edit-item" type="text/tmpl">
    <div id="add-item" class="add-item">
        <div class="close-btn" onclick="Shop.closeEdit()">Đóng lại</div>
        <div class="container">
            <div class="col-40">
                <div class="big-image">
                    <img id="big-image" src="img/item/default_thumbnail.gif"/>
                    <div id="progress" class="progress">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                </div>
                <div class="more-image" id="small-image-wrapper">
                    <span class="fileinput-button">
                        <div class="small-image add-more">Thêm ảnh</div>
                        <input id="add-more-small" type="file" name="files[]" multiple>
                    </span>
                </div>
            </div>
            <div class="col-60 product-info">
                <input id="edit-id" type="hidden" />
                <input id="edit-name" type="text" class="editable product-name" placeholder="Tên sản phẩm"/>
                <textarea id="edit-desc" class="editable product-desc">Mô tả về sản phẩm</textarea>
                <div class="edit-line">
                    <div class="title">Giá bán</div>
                    <input id="edit-price" type="editable text" placeholder="99.000"/>
                </div>
                <div class="button-control">
                    <div class="green-button blue" onclick="Shop.save(0, '<?php echo $this->url('web-service', array('action' => 'save-product')) ?>')">
                        Lưu lại
                    </div>
                    <div class="save-button green-button" onclick="Shop.save(1, '<?php echo $this->url('web-service', array('action' => 'save-product')) ?>')">
                        Đăng sản phẩm
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script id="edit_shop" type="text/tmpl">
    <div class="edit-shop fullscreen">
        <div class='edit-wrapper'>
            <div class="edit-line">
                <div class="title">Tên cửa hàng</div>
                <input type="text" />
            </div>
            <div class="edit-line">
                <div class="title">Mô tả</div>
                <textarea></textarea>
            </div>
            <div class="edit-line">
                <div class="title">Địa chỉ </div>
                <input type="text" />
            </div>
            <div class="edit-line">
                <div class="title">Số điện thoại </div>
                <input type="text" placeholder="Số điện thoại"/>
            </div>
            <div class="edit-line">
                <div class="title">Facebook</div>
                <input type="text" placeholder="Số điện thoại"/>
            </div>
            <div class="edit-line">
                <div class="title">Skype</div>
                <input type="text" placeholder="Số điện thoại"/>
            </div>
            <div class="control-button">
                <div class="button">Lưu lại</div>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript">
    var products = <?php echo json_encode($product); ?>
</script>