<div>
	<form method="POST" action="<?php echo $this->url('shop.openshop'); ?>" id="openform">
		<a onclick="Shop.openShop(arguments[0])" href="<?php echo $this->url('shop.openshop')?>">Mở cửa hàng</a>
	</form>
	
</div>