<?php ?>
<div class="top-bar">
    <div class="container">
        <div>
            <a href="./" class="logo"> <img src="img/logo.png" width=120 /> </a>
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Muốn tìm gì nào"/>
                <div class="search-button"></div>
            </div>
            <nav class="top-menu">
                <a href="" class="default">Danh mục</a>
                <ul class="menu-item">
                    <?php foreach ($top_category as $category) { ?>
                        <li><a href="danh-muc/<?php echo $category->slug; ?>.html"><?php echo $category->category_name; ?></a></li>
                    <?php } ?>
                </ul>
            </nav>
            <?php echo $this->getMenu()->userMenu() ?>
        </div>
    </div>
</div>