<div class="top-bar">
    <div class="container">
        <a href="./" class="logo"> <img src="img/logo.png" height=20 /> </a>
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Muốn tìm gì nào"/>
            <div class="search-button"></div>
        </div>
        <nav class="top-menu">
            <a class="default hover"></a>
            <ul class="menu-item">
                <?php foreach ($menu as $menu_item) { ?>
                    <li><a href="danh-muc/<?php echo $menu_item->slug; ?>.html"><?php echo $menu_item->category_name; ?></a></li>
                <?php } ?>
            </ul>
        </nav>
        <div class="user-profile">
            <?php if (isset($user)) { ?>
                <ul>
                    <li>
                        <a href="/" class="item home">Tường</a>
                    </li>
                    <li>
                        <a class="item like">Thích rồi</a>
                    </li>
                    <li>
                        <a class="item shop" href="<?php echo $this->url('shop.myshop') ?>">Cửa hàng</a>
                    </li>
                    <li>
                        <a class="item me">
                            <div class="small-avatar lazy-image" lazy-src="https://graph.facebook.com/<?php echo $user['username']; ?>/picture"></div>
                        </a>
                    </li>
                </ul>
            <?php } else { ?>
                <div class="login hover" onclick="Account.loginFacebook()">Đăng nhập</div>
            <?php } ?>
        </div>
    </div>
</div>