<div class="user-profile">
    <?php if (isset($user)) { ?>
        <ul>
            <li>
                <a href="/" class="item home">Tường</a>
            </li>
            <li>
                <a class="item like">Thích rồi</a>
            </li>
            <li>
                <a class="item shop" href="<?php echo $this->url('shop.myshop') ?>">Cửa hàng</a>
            </li>
            <li>
                <a class="item me">Tôi nè</a>
            </li>
        </ul>
    <?php } else { ?>
        <div class="login" onclick="Account.loginFacebook()">Đăng nhập</div>
    <?php } ?>
</div>